body {
  background-color: #fff;
  color: #333;
  font-family: "Hiragino Mincho ProN", Helvetica Neue, verdana, arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

h1, h2, h3, h4, h5, h6 {
  color: #444;
  font-weight: bold;
}

h3#hakidame {
  margin-top: 5px;
}

p, ol, ul, td {
  font-family: "Hiragino Mincho ProN", Helvetica Neue, verdana, arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

div#article p {
  margin-top: 18px;
  margin-bottom: 18px;
}

ul#hakidame {
  padding-left: 20px;
  color: #888;
}

li.hakidame {
  color: #888;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  &:visited {
    color: #666;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.posting-date {
  color: #777;
  font-family: Times;
  text-align: right;
}

hr.article-separator {
  border: 0;
  height: 1px;
  background: #777;
  background-image: linear-gradient(to right, #ccc, #777, #ccc);
}

footer {
  margin-top: 5px;
  text-align: center;
}